<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="background-color: rgb(120, 92, 149); padding: 20px; border-radius: 40px;"> 
        <h1 style="color: white;">Deploy One</h1>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae praesentium expedita illo, consequuntur
            voluptatum perferendis laboriosam quod totam, illum sunt sed corporis doloremque nesciunt dolore dolores ex.
            Delectus, inventore quam.
        </div>
    </div>
</body>

</html>